In [23]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as mlp
import seaborn as sns
import geopandas as gpd
import sys
import re
import fileinput

In [2]:
df = pd.read_xml("map.xml")
df.head(10)

,minlat,minlon,maxlat,maxlon,id,visible,version,changeset,timestamp,user,uid,lat,lon,tag,nd,member
0,40.5752,22.9508,40.5982,22.9693,NaN,None,NaN,NaN,None,None,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,38411609.0,true,5.0,98528530.0,2021-02-01T18:21:56Z,rowcherryrow,11880368.0,40.587270,22.970645,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,38411612.0,true,5.0,93412482.0,2020-11-02T10:27:57Z,Beyzaemin05,11616569.0,40.591413,22.966172,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,38411614.0,true,12.0,99925183.0,2021-02-24T18:38:26Z,PerpetualHiker,11399630.0,40.592839,22.965438,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,130202258.0,true,16.0,57295887.0,2018-03-18T17:02:17Z,Thanasis_P,7049346.0,40.578049,22.969142,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,130202259.0,true,9.0,57295887.0,2018-03-18T17:02:17Z,Thanasis_P,7049346.0,40.578537,22.968798,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,130202260.0,true,15.0,114936688.0,2021-12-14T19:18:26Z,Σεραφειμ,2230609.0,40.578919,22.968465,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,130202261.0,true,7.0,114936688.0,2021-12-14T19:18:26Z,Σεραφειμ,2230609.0,40.579352,22.968040,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,130202262.0,true,7.0,114936688.0,2021-12-14T19:18:26Z,Σεραφειμ,2230609.0,40.580100,22.967361,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,130202263.0,true,7.0,57295887.0,2018-03-18T17:02:18Z,Thanasis_P,7049346.0,40.580625,22.966935,NaN,NaN,NaN

In [3]:
df = df.drop(["minlat","minlon","maxlat","maxlon","visible","version","changeset","timestamp","user","uid","tag","nd","member"], axis=1)

df = df.iloc[1:,:]

In [4]:
print(df.isnull().sum())
df = df.dropna()

id        0
lat    7178
lon    7178
dtype: int64

In [5]:
df = df.applymap(lambda x: str(x))

df.head()

            id         lat         lon
1   38411609.0  40.5872698  22.9706448
2   38411612.0  40.5914131  22.9661719
3   38411614.0  40.5928388  22.9654384
4  130202258.0  40.5780493  22.9691422
5  130202259.0  40.5785367  22.9687981

In [35]:
def Empty_datafile():
    file_to_delete = open("datafile.txt",'w')
    file_to_delete.close()
    
Empty_datafile()

In [36]:
BlockSize = 300#32768
num_records = 0 
num_blocks  = 0 
block_id = 0

Block = np.array([]) 
#print(sys.getsizeof(Block))
for i in df.iterrows():
    #print(f"size of element : {sys.getsizeof(i[1])}")
    
    
    temp = sys.getsizeof(np.append(Block,i[1]))
    if(temp <= BlockSize):
        Block = np.append(Block,i[1])
        num_records+=1
        #print(f"{Block}\n\n Size of current Block:{sys.getsizeof(Block)}")
        #input()
    else:
        #print("New Block")
        num_blocks += 1
        block_id += 1
        with open("datafile.txt", "a") as file:
            string = "Block" + str(block_id) + " " + str(Block)
            #print(f"Stirng size : {sys.getsizeof(string)}")
            file.write(string)
            file.write(", ")
            
            
            file.close()
        
        Block = np.asarray([i[1]])

def line_pre_adder(filename, line_to_prepend):
    f = fileinput.input(filename, inplace=1)
    for xline in f:
        if f.isfirstline():
            print (line_to_prepend + xline)
        else:
            print (xline)
line_pre_adder("datafile.txt" , f"Block0 [records: {num_records} blocks: {num_blocks}] ")

## Anaktisi apo to arxeio

In [ ]:

with open("datafile.txt" ,"r") as file:
    
    counter = 0
    for line in file:
        print(line)
        input()
        # reading each word       
        for word in line.split():
  
            # displaying the words  
            word = word.replace("[","")
            word = word.replace("]","")
            word = word.replace(",","")
            word = word.replace("'","")
        
                
            word = float(word)
            print(word)
            
            input()

Block0 [records: 34336 blocks: 5722]Block1 ['38411609.0' '40.5872698' '22.9706448' '38411612.0' '40.5914131'